.Rproj.user
.Rhistory
.RData
GerNameR.Rcheck/                                                                                                                                      
GerNameR_*.tar.gz                                                                                                                            
sources.txt                                                                                                                                           
version.txt
